<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Ahead Search</title>
    <link rel="stylesheet" href="static/css/styles.css">
     <!-- Bootstrap CSS link -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJd8X4eP9gff3f3v34p1CR/Xg2ac8c5bc8feaa2e6b3b8288b7a25a26b9a6" crossorigin="anonymous">
     <!-- Custom styles (if any) -->
     <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
    <div class="container">
        <h1>Type Ahead Search</h1>
        <div id="messages" class="messages"></div>
        <input id="jwt" type="text" placeholder="Place your JWT here" class="input-container" />
        <div class="input-container">
            
            <input id="message-input" type="text" placeholder="Start typing..." />
            <button id="send-btn">Search</button>
        </div>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>
